<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lingayen Church of Christ</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
</head>

<body>
    <header>
        
            <div class="logo">Lingayen Church of Christ</div>
            <nav>
                <div class="menu-toggle" onclick="toggleMenu()">☰</div>
                <ul class="nav-links">
                    <li class="colored"><a href="index.html">Home</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="sermons.html">Sermons</a></li>
                    <li><a href="events.html">Events</a></li>
                    <li><a href="contactus.html">Contact Us</a></li>
                </ul>
            </nav>
        
    </header>


    <section class="hero">
        <div class="container">
            <button class="cta-button">Explore Our Faith</button>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <h2>Welcome</h2>
            <p>To Lingayen Church Of Christ Website</p>
        </div>
    </section>

    <!-- Other sections go here -->

    <footer>
        <div class="container">
            <div class="quick-links">
                <a href="index.html">Home</a> |
                <a href="aboutus.html">About Us</a> |
                <a href="sermons.html">Sermons</a> |
                <a href="events.html">Events</a> |
                <a href="contactus.html">Contact Us</a>
            </div>
            <p>&copy; 2023 Christian Website. All rights reserved.</p>
        </div>
    </footer>

    <script src="../static/js/script.js"></script>
</body>

</html>
